.item {
	padding: 20px;
	width: 100%;
	border-bottom: 1px solid #e3e4f1;
}

.check {
	padding-left: 48px;
	display: block;
	word-wrap: break-word;
	position: relative;
	cursor: pointer;
}

.input, .checkBox {
	position: absolute;
	left: 0;
}

.input {
	top: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.checkBox {
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid #979797;
}

.input:checked + .checkBox {
	background: url('../../assets/completed.svg') center no-repeat, linear-gradient(45deg, #5df, #be5af3);
}

.completed {
	color: #d1d2da;
	text-decoration: line-through;
}

body[data-theme='dark'] .checkBox {
	background-color: #25273d;
}