.check {
	margin-right: 25px;
	padding-left: 48px;
	display: block;
	word-wrap: break-word;
	position: relative;
	cursor: pointer;
}

.input, .checkBox {
	position: absolute;
	left: 0;
}

.input {
	top: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.checkBox {
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid var(--gray-200);
}

.input:checked + .checkBox {
	background: url('../../assets/images/completed.svg') center no-repeat, linear-gradient(45deg, var(--blue), var(--purple));
}

.completed {
	color: var(--gray-200);
	text-decoration: line-through;
}

.icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -25px;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

@media (any-hover: hover) {
	.check:hover .icon, .icon:hover .icon {
		opacity: 1;
	}
}