.item {
	padding: 20px;
	width: 100%;
	border-bottom: 1px solid #e3e4f1;
}

.check {
	padding-left: 48px;
	display: flex;
	align-items: center;
	max-width: fit-content;
	cursor: pointer;
}

.input {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.checkBox {
	position: absolute;
	margin-left: -48px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid #979797;
	background-color: #fff;
}

.input:checked + .checkBox {
	background: url('../../assets/completed.svg') center no-repeat, linear-gradient(45deg, #5df, #be5af3);
}

.completed {
	color: #d1d2da;
	text-decoration: line-through;
}

body[data-theme='dark'] .checkBox {
	background-color: #25273d;
}