.list, .info, .filter {
	display: flex;
	align-items: center;
}

.list {
	flex-direction: column;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.info {
	padding: 15px;
	width: 100%;
	justify-content: space-between;
	font-size: 14px;
	color: #9495a5;
}

.filter {;
	gap: 19px;
}

.filter li, .clear {
	cursor: pointer;
}

.filter li.active {
	color: #3a7cfd;
}

@media (any-hover: hover) {
	.clear:hover {
		color: #3a7cfd;
	}
}

body[data-theme='dark'] .list {
	background-color: #25273d;
	color: #c8cbe7;
}

body[data-theme='dark'] .info {
	background-color: #25273d;
	color: #c8cbe7;
}