@import 'nullstyle.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
	--white: #fff;
	--black: #000;
	--blue: #5df;
	--dark-blue: #3a7cfd;
	--purple: #be5af3;

	--gray-50: #f3f3f3;
	--gray-100: #c8cbe7;
	--gray-200: #979797;
	--gray-400: #25273d;
	--gray-500: #171823;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	background-color: var(--gray-50);
}

#root {
	width: 100%;
	height: 100%;
}

#root:before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
	background: url('../assets/images/bg.jpg') center / cover no-repeat;
}

.app {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 630px;
	position: relative;
}

body[data-theme='dark'] {
	background-color: var(--gray-500);
}

body[data-theme='dark'] #root:before {
	background: url('../assets/images/bgdark.jpg') center / cover no-repeat;
}