:global {
	body[data-theme='dark'] {
		--info-bg: var(--gray-400);
	}

	body[data-theme='light'] {
		--info-bg: var(--white);
	}
}

.info, .subinfo {
	font-size: 14px;
	color: var(--gray-200);
}

.info {
	margin-bottom: 40px;
	padding: 15px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	background: var(--info-bg);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.clear {
	cursor: pointer;
}

.subinfo {
	text-align: center;
}

@media (any-hover: hover) {
	.clear:hover {
		color: var(--dark-blue);
	}
}