body[data-theme='dark'] .bottom input {
	background-color: #25273d;
	color: #c8cbe7;
}

.wrapper {
	padding-top: 70px;
}

.top, .bottom {
	display: flex;
	align-items: center;
}

.top {
	margin-bottom: 40px;
	justify-content: space-between;
	gap: 10px;
}

.top h1 {
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 15px;
	color: #fff;
}

.bottom {
	margin-bottom: 25px;
	position: relative;
}

.bottom input {
	padding: 10px 66px 10px 5px;
	width: 100%;
	height: 64px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
}

.bottom input:focus {
	outline: 2px solid #be5af3;
}

.bottom button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 70px;
	height: 64px;
	background-image: linear-gradient(45deg, #5df, #be5af3);
	color: transparent;
	-webkit-background-clip: text;
}

@media (any-hover: hover) {
	.bottom button:hover {
		background-image: linear-gradient(45deg, #be5af3, #5df);
	}
}